@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');
* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;

}

:root {
    --cor-0: #000;
    --cor-1: #141519;
    --cor-2: #f47521;
    --cor-3: #8a8686;
    
}

#hime {
    position: absolute;
    top: -44px;
    left: -144px;
}

#yuzu {
    position: absolute;
    top: 315px;
    left: 500px;
}

body {
    background-color: var(--cor-0);
}

#header {
    background-color: var(--cor-1);
    width: 100%;
    height: 60px;
}

#header img {
    display: block;
    padding-top: 15px;
    margin: auto;
    width: 10%;
    cursor:pointer;
}

#main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: var(--cor-0);
    width: 100%;
}

#main h1 {
    color: white;
    margin-top: 60px;
    margin-bottom: 30px;
    font-size: 34px;
    font-weight: 400;
}

#wrapper {
    background-color: var(--cor-1);
    height: 230px;
    width: 500px;
    padding: 70px 50px;
    margin-bottom: 1.25em;
    position: relative;
}

a {
    color: var(--cor-2);
    text-decoration: none;
    font-size: .9em;
    font-weight: 700;
}

form a {
    color: white;
}

p {
    color: white;
}

.inputBox {
    color: white;
    position: relative;
}

.inputUser {
    background: var(--cor-1);
    color: white;
    outline: none;
    border-bottom: 2px solid var(--cor-3);
    width: 100%;
}

.inputBox:first-child{
    margin-bottom: 40px;
}


.inputUser:focus {
    border-bottom: 1px solid var(--cor-2);
}

.labelInput {
    position: absolute;
    top: -10px;
    left: 5px;
    pointer-events: none;
    font-size: 1.2em;
    font-weight: 700;
    line-height: 1.2em;
    transition: .5s;
}

.inputUser:focus ~ .labelInput,
.inputUser:valid ~ .labelInput {
    top: -20px;
    color: var(--cor-3);
    font-size: .7em;
}


#botao {
    background: var(--cor-2);
    color: var(--cor-0);
    font-weight: bolder;
    padding: 0px 16px;
    height: 40px;
    width: 120px;
    margin-bottom: 20px;
}

#botao:hover {
    cursor: pointer;
    background-color: #f79f65;
}





